<form>
  <div class="form-group">
    <label for="serverName">Server Name</label>
    <input type="text" name="serverName" id="serverName" class="form-control">
  </div>
  <div class="form-group">
    <label for="serverStatus">Server Status</label>
    <select name="serverStatus" id="serverStatus" class="form-control">
      <option value="true">Online</option>
      <option value="false">Offline</option>
    </select>
  </div>
  <hr>
  <div class="form-group">
    <button class="btn btn-primary">Update Server</button>
  </div>
</form>
