<div class="panel panel-default">
  <div class="panel-heading">{{anAccount.name}}</div>
  <div class="panel-body">
    This account is {{anAccount.status}}
    <hr>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" (click)="onChangedServerStatus(true)">Set to 'active'</button>
      <button type="button" class="btn btn-default" (click)="onChangedServerStatus(false)">Set to 'inactive'</button>
      <button type="button" class="btn btn-default" (click)="onChangedServerStatus(null)">Set to 'unknown'</button>
    </div>
  </div>
</div>
