<div class="row">
  <button class="btn btn-primary" (click)="onReload()">Reload pages</button>
</div>
<div class="col-md-8">
  <div class="list-group">
    <div class="list-group-item" *ngFor="let server of servers">
      {{server.name}} <span class="badge">{{server.status == true ? 'online' : 'offline'}}</span>
    </div>
  </div>
</div>
<div class="col-md-4">
  <form>
    <div class="form-group">
      <label for="serverName">Server Name</label>
      <input type="text" name="serverName" id="serverName" class="form-control">
    </div>
    <div class="form-group">
      <label for="serverStatus">Server Status</label>
      <select name="serverStatus" id="serverStatus" class="form-control">
        <option value="true">Online</option>
        <option value="false">Offline</option>
      </select>
    </div>
    <hr>
    <div class="form-group">
      <button class="btn btn-primary">Update Server</button>
    </div>
  </form>
</div>
