<div class="container">
  <div class="row">
    <div class="form-group">
      <label for="serverType">Tipe Server: </label>
      <input type="text" name="serverType" id="serverType" class="form-control" #serverTypeInput>
    </div>
    <div class="form-group">
      <label for="serverCapacity">Kapasitas Server</label>
      <input type="number" name="serverCapacity" id="serverCapacity" class="form-control"
             #serverCapacityInput>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="addServer()">Tambah Kategori Server</button>
      <button class="btn btn-primary" (click)="saveServer()">Save all servers</button>
      <button class="btn btn-primary" (click)="getServers()">Getting all servers</button>
    </div>
  </div>
  <div class="row">
    <div class="list-group">
      <div class="list-group-item" *ngFor="let server of servers">
        {{server.id}}
        <strong>{{server.name | uppercase}}</strong>
        <span class="badge">{{server.capacity}}</span>
      </div>
    </div>
  </div>
</div>
