<form>
  <div class="form-group">
    <label for="username">UserID: </label>
    <input type="text" name="username" id="username" class="form-control" disabled [ngModel]="user.id">
  </div>
  <div class="form-group">
    <label for="password">Secret Password:</label>
    <input type="password" name="password" id="password" class="form-control" disabled>
  </div>
  <div class="form-group">
    <label for="accountStatus">Account Status:</label>
    <input type="text" name="accountStatus" id="accountStatus" class="form-control" disabled>
  </div>

  <a [routerLink]="['/users', 10]">Load user (10)</a>
</form>
